.container {
    height: 100vh; /* Define a altura do container como 100vh */
    display: flex; /* Define o container como um flex container */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}
  